body {
    background-image: url(../images/bg_body.jpg);
    font-style: normal;
    font-size: 11px;
    font-family: verdana;
    color: #d7cfc8;
}

.wrapper {
    width: 1000px;
    margin: auto;
}

.header {
    position: relative;
    height: 150px;
    margin-bottom: 43px;
}

.logo {
    position: absolute;
    bottom: 0;
}

header .mainmenu .menu-list {
    list-style: none;
    background-color: #f2f1f0;
    border: 1px solid #fff;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

header .mainmenu .menu-item {
    display: block;
    float: left;
    /*border-left: 1px solid black;
    border-right: 1px solid black;  */
}

header .mainmenu .menu-item a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: georgia;
    color: #461500;
    padding: 12px 30px;
}

header .mainmenu .menu-item a:hover {
    background: url(../images/bg_menu-item-active.png);
    background-size: cover;
}

header .mainmenu .menu-item:first-child {
    margin-left: 0px;
}

header .mainmenu .menu-item.active a {
    background: url(../images/bg_menu-item-active.png);
}

.lang-list {
    position: absolute;
    top: 50px;
    left: 20px;
}

.lang-item {
    display: inline-block;
    color: #e8d1a4;
}

.lang-item a {
    color: #fff;
}

.lang-item::after {
    content: ' | ';
}

.lang-item:last-child:after {
    content: '';
}

.auth {
    position: absolute;
    top: 50px;
    right: 20px;
}

.auth-link a {
    color: #fff;
}

.auth-link a:hover {
    color: #e8d1a4;
    display: inline-block;
}

.promo {
    position: relative;
    box-sizing: border-box;
    background: url(../images/bg_promo.png);
    border-radius: 6px;
    /*background-image: url(../images/bg_about.png);
    background-repeat: no-repeat;
    background-position: left;*/
    font-style: Italic;
    font-size: 14px;
    font-family: Georgia;
    color: #f9da5a;
    line-height: 150%;
    height: 157px;
    padding-left: 145px;
    padding-right: 20px;
    padding-top: 20px;
    margin-bottom: 51px;
}

.promo:before {
    content: url(../images/bg_about.png);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 57px;
    margin-top: 32px;
}

.promo img {
    position: absolute;
    left: 57px;
    top: 32px;
    width: 100px;
	height: auto;
}

h1 {
    font-style: normal;
    font-size: 22px;
    font-family: Georgia;
    color: #ead4aa;
    margin-bottom: 18px;
    line-height: normal;
}

.article {
    position: relative;
   /* padding: 26px;*/
    margin-bottom: 40px;
}

.article img {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -32px;
}

p {
    font-style: normal;
    font-size: 11px;
    font-family: verdana;
    margin-left: 150px;
    }

h2 {
    font: normal 18px Georgia;
    color: #fff68d;
    clear: left;
    margin-left: 150px;
    margin-bottom: 17px;
    line-height: normal;
}

.footer {
    width: 1000px;
    height: 31px;
    margin: auto;
    padding-top: 45px;
    border-top: 1px solid rgba(215, 182, 73, 0.44);
    font-size: 11px;
    font-family: Verdana;
    color: #f9da5a;
}

.footer div {
    float: left;
    clear: both;
}

.footermenu .menu-list {
    float: right;
}

.footermenu .menu-list .menu-item {
    display: inline-block;
    float: left;
}

.footermenu .menu-list .menu-item a {
    display: inline-block;
    font-size: 11px;
    font-family: Verdana;
    color: #fff;
    padding: 0 10px;
}

.footermenu .menu-list .menu-item::after {
    content: ' | ';
    color: #fff;
}

.footermenu .menu-list .menu-item:last-child:after {
    content: '';
}