body { 
    background-image: url(../images/bg_body.jpg)
}
.wrapper {
   
}

header {}
.header {}
.logo {}
ul {}
.mainmenu {
     
}
.menu-list {}
.menu-item {
    display: inline-block;
}
.menu-item active {}
.lang-list {}
.lang-item {
    display: inline-block;
}
.auth {}
.auth-link signin {}
.auth-link {
    display: inline-block;
}
.content {}
.promo {
    font-style: Italic;
    font-size: 14px; 
    font-family: Georgia; 
    color: #f9da5a;
}
h1 {
    font-style: normal;
    font-size: 22px;
    font-family: Georgia;
    color: #ead4aa;
}
.article {}
p {
    font-style: normal;
    font-size: 11px;
    font-family: verdana;
   
    color: #d7cfc8;
}
h2 {
    font: normal 18px Georgia;
    color: #fff68d;
    
}
.footer{
    font: normal 11px Verdana;
    color: #f9da5a;
}
.footermenu {}
